# Ignore everything
*
token.json
# Except some specific folders
polybar/scripts/mycalendar/*.json
!polybar/*
!bspwm/*
!sxhkd/*
!rofi/*
!picom/**
!nvim/**
nvim/lazy-lock.json
# Include whatever is inside those folders
!*/
