# Ignore everything
*
token.json
# Except some specific folders
!.gitignore
polybar/scripts/mycalendar/*.json
!polybar/*
!bspwm/*
!sxhkd/*
!rofi/*
!picom/**
!nvim/**
# Include whatever is inside those folders
!*/
